## Tuples,Sets,Dictionary and Lists

In [1]:
#  tuple 
t=(4,5,6,7)

In [5]:
l=list(t)

In [6]:
l.insert(2,'sudh')

In [7]:
l

[4, 5, 'sudh', 6, 7]

In [8]:
tuple(l)

(4, 5, 'sudh', 6, 7)

In [14]:
# set
s = set([1,2,3,4,5,6,7,2,3,4,54,'sudh','Sudh','sudh'])

In [15]:
s

{1, 2, 3, 4, 5, 54, 6, 7, 'Sudh', 'sudh'}

In [16]:
s[0]

TypeError: 'set' object is not subscriptable

In [17]:
for i in s:
    print(i)

1
2
3
4
5
6
7
Sudh
54
sudh

In [18]:
d  = set((3,4,5,6,7,8,4,3,4,8,9))

In [19]:
d

{3, 4, 5, 6, 7, 8, 9}

In [20]:
list(d)[::-1]

[9, 8, 7, 6, 5, 4, 3]

In [30]:
b={6,7}

In [31]:
type (b)

set

In [32]:
b={3,4,3,4,5,3,4,6,7,7,7}

In [33]:
b

{3, 4, 5, 6, 7}

In [34]:
b.add('morris')

In [35]:
b

{3, 4, 5, 6, 7, 'morris'}

In [43]:
b.pop()

KeyError: 'pop from an empty set'

In [44]:
b

set()

In [45]:
d

{3, 4, 5, 6, 7, 8, 9}

In [46]:
d.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [50]:
s = {4,5,6,7,3,4,2,3,4,4554,4,5554,5566,'abc','morris','###'}

In [51]:
s

{'###', 2, 3, 4, 4554, 5, 5554, 5566, 6, 7, 'abc', 'morris'}

In [56]:
for i in s :
    print(i)

morris
###
2
3
4
5
6
7
4554
5554
abc
5566

In [57]:
l = [1,2,3,4]

In [59]:
s = set(l)
s

{1, 2, 3, 4}

In [60]:
list(s)

[1, 2, 3, 4]

In [65]:
for i in s :
    print(i)

1
2
3
4

In [66]:
d = {}
type(d)

dict

In [78]:
# duplicates key are not allowed in dict 
d = {3.9:'morris','surname':'sindet','name':'xyz', '#':'abc'}

In [80]:
# tuple, lists ,sets are allowed as key values in a dictionary 
d = {'key':[1,2,3,4,5,[345,360]],'key2':(3,3,4,55),'key3':{3,4,5,6},'key4':{'s':123,'y':124}}

In [85]:
d['key'][2]

3

In [87]:
d['key4']['y']

124

In [90]:
for i in d :
    print(d[i])

[1, 2, 3, 4, 5, [345, 360]]
(3, 3, 4, 55)
{3, 4, 5, 6}
{'s': 123, 'y': 124}

In [92]:
for i in d.keys():
    print(d[i])

[1, 2, 3, 4, 5, [345, 360]]
(3, 3, 4, 55)
{3, 4, 5, 6}
{'s': 123, 'y': 124}

In [94]:
d.values()

dict_values([[1, 2, 3, 4, 5, [345, 360]], (3, 3, 4, 55), {3, 4, 5, 6}, {'s': 123, 'y': 124}])

In [98]:
# Extract a tuple into a new tuple 
n = []
for i in d.values():
    if type(i)==list:
        for j in i :
            n.append(j)

In [99]:
n

[1, 2, 3, 4, 5, [345, 360]]

In [100]:
d

{'key': [1, 2, 3, 4, 5, [345, 360]],
 'key2': (3, 3, 4, 55),
 'key3': {3, 4, 5, 6},
 'key4': {'s': 123, 'y': 124}}

In [101]:
d['key5']='new data'

In [102]:
d

{'key': [1, 2, 3, 4, 5, [345, 360]],
 'key2': (3, 3, 4, 55),
 'key3': {3, 4, 5, 6},
 'key4': {'s': 123, 'y': 124},
 'key5': 'new data'}

In [103]:
d['key2']='new data'

In [104]:
d

{'key': [1, 2, 3, 4, 5, [345, 360]],
 'key2': 'new data',
 'key3': {3, 4, 5, 6},
 'key4': {'s': 123, 'y': 124},
 'key5': 'new data'}

In [110]:
# create a dict where a key should be interger and value should its square 
d = {}
for i in range(10):
    d[i] = i**2

In [111]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [121]:
l= ['morris','sindet','xyz','abc']
d = {}
for i in l:
    d[i]=i.isupper()

In [122]:
d

{'morris': False, 'sindet': False, 'xyz': False, 'abc': False}

In [123]:
# dictionary comprehension
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [124]:
{i:i.upper() for i in l }

{'morris': 'MORRIS', 'sindet': 'SINDET', 'xyz': 'XYZ', 'abc': 'ABC'}

In [125]:
d.items()

dict_items([('morris', False), ('sindet', False), ('xyz', False), ('abc', False)])

In [126]:
d.items()

dict_items([('morris', False), ('sindet', False), ('xyz', False), ('abc', False)])

## Functions

In [129]:
def test():
    pass

In [130]:
test()

In [131]:
range(4)

range(0, 4)

In [132]:
type(test())

NoneType

In [133]:
def test():
    print('this is my first function')

In [134]:
test()

this is my first function

In [137]:
def test():
    a = 1
    b = 2
    print('this is my first function:',a+b)

In [139]:
type(test())

this is my first function: 3

NoneType

In [140]:
#print is a none type
def test():
    a = 1
    b = 2
    print(a+b)

In [141]:
test()

3

In [142]:
test()+1

3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [144]:
def ttest():
    a = 4
    b = 9
    return a+b

In [145]:
ttest()

13

In [146]:
b = ttest()

In [147]:
b

13

In [148]:
b + 9

22

In [149]:
def test(a,b):
    return a + b

In [152]:
test(4)

TypeError: test() missing 1 required positional argument: 'b'

In [1]:
def test(a,b):
    return a+b , a*b

In [2]:
y,x = test(4,5)

In [3]:
y

9

In [4]:
x

20

In [5]:
a=1
b=2
c=9
d='sudh'

In [6]:
a,b,c,d=5,6,7,'sudh'

In [7]:
a

5

In [ ]:
print()

# CLASSES 
### class: Blueprint for creating new objects 
### object:instance of a class
### class: Human
### objects:John ,Mary,Jack

In [11]:
# creating a point class
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
     
        
    def  draw(self):
        print(f"Point ({self.x},{self.y})")

point = Point(1,2)
point.draw()

another = Point(3,4)
another.draw()

Point (1,2)
Point (3,4)